<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<title>木木媒体触屏版</title>
<meta name="keywords" content="木木媒体 木木产品">
<meta name="Description" content="集媒体与产品行销">
<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="../css/shop-mobi.css" rel="stylesheet" media="screen">
<link href="../css/mumu_mobi.css" rel="stylesheet" media="screen">
<script src="../js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/mumu.js"></script>
</head>
<body class="bd">
<div class="header-wrapper">
  <div class="top-box">
    <div class="box1"><a href="javascript:history.back(-1);" class="back" title="返回"></a></div>
    <div class="box2">
      <h4>木木·触屏版</h4>
    </div>
    <div class="box3"></div>
  </div>
</div>
<div id="top"  class="content-wrapper">
  <div class="container-fluid content_box" > 
      
      
      <form class="mumu_form form" role="form">
      
        <div class="form-group">
            <div class="col-xs-10 col-xs-offset-1">
               <div class="input-group">
                   <span class="input-group-addon"><img src="../images/user.png"></span>
                   <input id="loginName" name="loginName" class="form-control" style="height:100%;" type="text"></input>
               </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-xs-10 col-xs-offset-1">
               <div class="input-group">
                   <span class="input-group-addon">
                     <i class="icon-lock"></i>
                    </span>
                    <input id="password" name="password" class="form-control" type="text"></input>
               </div>
            </div>
        </div>
      </form>
      
      
    
  
  </div>
</div>

<!---底部内容footer-->
<div id="footer-wrapper">
  <footer>
    <div class="shop_foot_body">
      <div class="shop_foot_body_foot">
        <div class="shop_foot_body_foot1"> <a href="pinpaijieshao.php">品牌介绍</a> | <a href="kaidianzhengce.php">木木产品</a> | <a href="index.php">产品展厅</a> | <a href="contact-mobi.php">联系投资顾问</a><br>
          Copyright © 2014 蜀ICP备11021943号 </div>
        <a href="#top" data-smooth class="shop_foot_body_foot2"><span class="glyphicon glyphicon-circle-arrow-up"></span></a> </div>
    </div>
  </footer>
</div>
</body>
</html>